//----------------------------------------------------------
// Configuration
//----------------------------------------------------------

$font-family-default: "Roboto","Helvetica","Arial",sans-serif;
$line-height-default: 1.4rem;

//white
$color-white-50: rgba(255,255,255, .5);
$color-white-70: rgba(255,255,255, .7);
$color-white-100: rgba(255,255,255, 1);
//black
$color-black-3: rgba(0, 0, 0, .03);
$color-black-4: rgba(0, 0, 0, .04);
$color-black-5: rgba(0, 0, 0, .05);
$color-black-6: rgba(0, 0, 0, .06);
$color-black-10: rgba(0, 0, 0, .1);
$color-black-12: rgba(0, 0, 0, .12);
$color-black-26: rgba(0, 0, 0, .26);
$color-black-54: rgba(0, 0, 0, .54);
$color-black-87: rgba(0, 0, 0, .87);

//blue
$color-blue: #448AFF;

$border-radius-default: 2px;