//----------------------------------------------------------
// Main module
//----------------------------------------------------------

.m-main {
  border: .1rem solid $color-black-26;
  margin: 1rem;
}

.m-main__content {
  padding: 1rem;
}