//----------------------------------------------------------
// Button component - states
//----------------------------------------------------------

.c-button {
  &:hover {
    background: $color-blue;
    color: $color-white-100;
  }
}

.c-button--active {
  background: $color-blue;
  color: $color-white-100;
}