//----------------------------------------------------------
// Main module
//----------------------------------------------------------

.m-filter {
  padding: 1rem 2rem;
}

.m-filter__list {
    list-style: none;

    & li {
      display: inline-block;
    }
}